
MultipleDetailViews.xcodeproj/project.xcworkspace/xcuserdata/amywah.xcuserdatad/UserInterfaceState.xcuserstate

MultipleDetailViews.xcodeproj/project.xcworkspace/xcuserdata/amywah.xcuserdatad/UserInterfaceState.xcuserstate
