<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Games</key>
	<array>
		<string>Animal Park</string>
		<string>Biology Quiz</string>
		<string>Calculus Test</string>
	</array>
	<key>Entertainment</key>
	<array>
		<string>Eye Balls - iBlower</string>
		<string>iBell</string>
		<string>iCards Birthday</string>
	</array>
	<key>Utilities</key>
	<array>
		<string>Battery Monitor</string>
		<string>iSystemInfo</string>
	</array>
</dict>
</plist>
