<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> 作品說明</key>
	<array>
		<string>手工彩色玻璃</string>
		<string>傳統客家山歌</string>
		<string>透視示意圖</string>
		<string>作品鳥瞰圖</string>
	</array>
</dict>
</plist>
