<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>「視覺與聽覺的聯合感知」</key>
	<array>
		<string>空間裝置：藝術手工彩色玻璃迎賓</string>
		<string>聲響裝置：客家山歌等傳統歌謠之［空間性重組］</string>
	</array>
</dict>
</plist>
