<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>透視示意圖</key>
	<array>
		<string>「尊重自然」、「因地制宜」</string>
		<string>春之花朵</string>
		<string>夏之花朵</string>
		<string>秋之花朵</string>
		<string>冬之花朵</string>
	</array>
</dict>
</plist>
