<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>透視示意圖</key>
	<array>
		<string>「牡丹花」和「油桐花」</string>
		<string>垂直立面</string>
		<string>漣漪呈現</string>
	</array>
</dict>
</plist>
